<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LVS Manager Platform</title>
    <script src="{{ STATIC_URL }}ui/jquery-3.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}ui/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <link href="{{ STATIC_URL }}ui/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}ui/loading/loading.js"></script>
    <!--<script src="{{ STATIC_URL }}ui/loading/jquery-1.11.2.js"></script>-->
    <link href="{{ STATIC_URL }}ui/loading/loading.css" rel="stylesheet">

    
</head>

<body>
<div>{% block body %}{% endblock %}</div>
</body>


</html>
