
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}ui/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}ui/boostrap/css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" onSubmit="return false;">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
		<button id="auth_submit" class="btn btn-lg btn-primary btn-block" type="text">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="{{ STATIC_URL }}ui/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="{{ STATIC_URL }}ui/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#auth_submit").click(function(){
				var username = $("#inputUsername").val() ;
				var password = $("#inputPassword").val() ;
				//console.log(username, password) ;
				var post_data = {
									'user' : username,
									'passwd' : password,
								} ;
				//var _post_data = JSON.toString(post_data) ;
				var _post_data = post_data ;
				//console.log(_post_data)	

				$.ajax({
					type: 'POST' ,
					url: '/login_auth' ,
					data: _post_data ,
					//dataType: 'json' ,
					cache: false ,
					success: function(data){
						console.log(data)
					},
					error: function(XMLHttpRequest, rc, error){
						console.log('auth failed\n' + XMLHttpRequest + '\n' + rc + '\n' + error)
					},
				})

				
			})
		})
		
		
	</script>
  </body>
</html>

