{% extends "index.html" %}
{% block body %}
<div class="container-fluid">
  <div class='row'>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="/lvsmanager/">Lvs Cluster Manager</a> <span></span></li>
          <li class="disabled"><a>Vip Instance Configuration</a> <span></span></li>
          <li class="disabled"><a>Edit Vip Instance</a></li>
        </ul>
    </div>
  </div>

<div class='row'>
<div class="col-md-12">
{% if current_user is user_is_manager %} 
<table id="lvsmanager_table" class="table table-bordered table-hover">
<tr>
    <th style="width: 15%">Cluster_Id</th>
    <th style="width: 15%">Description</th>
    <th style="width: 10%">Idc_Area</th>
    <th style="width: 10%">Load_Balancer_Server</th>
    <th>Operation</th>
</tr>
{% for cluster in cluster_list %}
<tr>
    <td>{{ cluster.id }}</td>
    <td>{{ cluster.descript }}</td>
    <td>{{ cluster.area }}</td>
    <td>{% for lb in cluster.lb %}
        {{ lb.id }}:{{ lb.ipadd }}:{{ lb.port }}{% endfor %}</td>
    <td>
        <a href="/lvsmanager_deploy/?id={{ cluster.id }}" class="btn btn-success"><span></span>Configuration</a>
        <!--<a href="/lvsmanager_deploy_add/?id={{ cluster.id }}" class="btn btn-primary" ><span></span>New Vip Instance</a>-->
        <a href="#" onCLick="lvsmanagerpublish('{{ cluster.id }}')" class='btn btn-danger' style="position: relative;left: 1px;"><span></span>Publish</a>
        <a href="/lvsmanager_keepalived_reload/?id={{ cluster.id }}" class="btn btn-primary" style="position: relative;left: 1px;"><span></span>LvsOperation</a>
        <a href="/lvsmanager_rollback/?id={{ cluster.id }}" class="btn btn-warning" style="position: relative;left: 1px;"><span></span>Rollback</a>
    </td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
</div>

</div>
<script type="text/javascript">
    function lvsmanagerpublish(id){
        bootbox.prompt("Please Insert The Publish Message", function(result){
            if(result){
                var post_data = {
                    "id": id,
                    "mess": result,
                }
                $.ajax({
                    type: 'POST',
                    url: '/lvsmanager_publish/',
                    cache: false,
                    data: post_data,
                    success: function(data){
                        console.log(data)
                        var data_str = '<pre>Publish Result:\n' +data + '</pre>'
                        bootbox.alert(data_str, function(){
                            window.location.href="/lvsmanager_keepalived_reload/?id=" + id
                        })
                    }
                })
            }
        }) 
    };























</script>
{% endblock %}
