{% extends "index.html" %}
{% block body %}

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li><a href="/lvsmanager/">Lvs Cluster Manager</a><span></span></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Keepalived Operation Using Salt <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="active"><a href="/lvsmanager_keepalived_reload/?id={{ cluster.id }}">Keepalived Reload</a></li>
                <li><a href="/lvsmanager_keepalived_start_or_stop/?id={{ cluster.id }}">Keepalived Start/Stop</a></li>
                <li><a href="/lvsmanager_keepalived_ipvsadm/?id={{ cluster.id }}">Get Ipvsadmin Stats</a></li>
            </ul>
          </li>
        </ul>
        </div>
    </div>
  </div>
  </br>

<div class="container-fluid">
    <div class="row">
  <div class="col-md-12">
  <h4>{{ cluster.id }}</h4>
    {% if current_user is user_is_manager %} 
    <table id="lvsmanager_table" class="table table-bordered table-hover">
    <tr>
        <th style="width: 15%">Cluster_Id</th>
        <th style="width: 15%">Description</th>
        <th style="width: 10%">Idc_Area</th>
        <th style="width: 10%">Load_Balancer_Server</th>
    </tr>
    {% if cluster %}
    <tr>
        <td>{{ cluster.id }}</td>
        <td>{{ cluster.descript }}</td>
        <td>{{ cluster.area }}</td>
        <td>{% for lb in cluster.lb %}
            {{ lb.id }}:{{ lb.ipadd }}:{{ lb.port }}{% endfor %}</td>
    </tr>
    {% endif %}
    </table>
    {% endif %}
  </div>
    </div>
</div>

  <div class="container-fluid">
    <h4>Choose The Lvs Server To Run Reload Keepalived</h4>
    <div class="row">
        <div class="col-md-6">
    <ol id="lvsmanager_keepalived_reload_select">
        {% for lb in cluster.lb %}
        <li class="ui-widget-content" value="{{ lb.id }}">{{ lb.id }}/{{ lb.ipadd }}</li>
        {% endfor %}
    </ol>
    <button id="lvsmanager_keepalived_reload_run" class="btn inline btn-primary" style="position:relative ; top:5px ">Reload</button>
    <button id="lvsmanager_keepalived_start" class="btn inline btn-warning" style="position:relative ; top:5px ">Start</button>
    <button id="lvsmanager_keepalived_stop" class="btn inline btn-danger" style="position:relative ; top:5px ">Stop</button>
        </div>
    </div>
  </div>
    </br>

    <div class="container-fluid">
    <h4>Salt Result</h4>
        <div class="row">
            <div class="col-md-12">
                <pre id="lvsmanager_keepalived_reload_return_text">

                </pre>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function(){
        $("#lvsmanager_keepalived_reload_select").selectable();
    });

    $("#lvsmanager_keepalived_reload_run").click(function(){
        var method = "reload"
        var id = "{{ cluster.id }}";
        var lb_list = []; 
        $(".ui-selected").each(function(){
            lb_server = $(this).attr('value');
            //console.log(lb_server);
            lb_list.push(lb_server)
        });

        if (lb_list.length != 0){
        var _post_data = JSON.stringify({"id": id, "method": method, "lb_list": lb_list});
        var load = new Loading();
        $.ajax({
            type: 'POST',
            url: '/lvsmanager_keepalived_reload/',
            cache: false,
            data:  _post_data,
            cache: false,
            beforeSend: function(){
                load.init();
                load.start();
            },
            success: function(data){
                setTimeout(function(){
                    load.stop();
                    $("#lvsmanager_keepalived_reload_return_text").text(data)
                },3000);
            },
            error: function(XMLHttpRequest){
                load.stop();
                bootbox.alert("post_fail " + XMLHttpRequest)
            },
        })
        }
        else {
            bootbox.alert("No Lb Server Choosen")
        }
    })


    $("#lvsmanager_keepalived_start").click(function(){
        var method = "start"
        var id = "{{ cluster.id }}";
        var lb_list = []; 
        $(".ui-selected").each(function(){
            lb_server = $(this).attr('value');
            //console.log(lb_server);
            lb_list.push(lb_server)
        });

        if (lb_list.length != 0){
        var _post_data = JSON.stringify({"id": id, "method": method, "lb_list": lb_list});
        var load = new Loading();
        $.ajax({
            type: 'POST',
            url: '/lvsmanager_keepalived_reload/',
            cache: false,
            data:  _post_data,
            cache: false,
            beforeSend: function(){
                load.init();
                load.start();
            },
            success: function(data){
                setTimeout(function(){
                    load.stop();
                    $("#lvsmanager_keepalived_reload_return_text").text(data)
                },3000);
            },
            error: function(XMLHttpRequest){
                load.stop();
                bootbox.alert("post_fail " + XMLHttpRequest)
            },
        })
        }
        else {
            bootbox.alert("No Lb Server Choosen")
        }
    })

    $("#lvsmanager_keepalived_stop").click(function(){
        var method = "stop"
        var id = "{{ cluster.id }}";
        var lb_list = []; 
        $(".ui-selected").each(function(){
            lb_server = $(this).attr('value');
            //console.log(lb_server);
            lb_list.push(lb_server)
        });

        if (lb_list.length != 0){
        var _post_data = JSON.stringify({"id": id, "method": method, "lb_list": lb_list});
        var load = new Loading();
        $.ajax({
            type: 'POST',
            url: '/lvsmanager_keepalived_reload/',
            cache: false,
            data:  _post_data,
            cache: false,
            beforeSend: function(){
                load.init();
                load.start();
            },
            success: function(data){
                setTimeout(function(){
                    load.stop();
                    $("#lvsmanager_keepalived_reload_return_text").text(data)
                },3000);
            },
            error: function(XMLHttpRequest){
                load.stop();
                bootbox.alert("post_fail " + XMLHttpRequest)
            },
        })
        }
        else {
            bootbox.alert("No Lb Server Choosen")
        }
    })















</script>

{% endblock %}
