{% extends "index.html" %}
{% block body %}
<div>
  <div>
    <div>
        <ul>
          <li><a href="/lvsmanager/">LVS Manager</a> <span></span></li>
          <li><a href="/lvsmanager_deploy/?id={{ vipinstance.cluster_id }}">LVS Configuration</a> <span></span></li>
          <li>Edit Vip Instance</li>
        </ul>
    </div>
  </div>

  <div>
    <div id='lvsmanager_deploy_add_body'>
        <h4>VIP</h4>
        <hr>
        <form>
            <div>
              <label for="vipinstance">VIP Instance</label>
              <div>
                <td><input id="vip_instance" type="text" name='vip_instance' check-type="required" value="{{ vipinstance.vip_instance }}"><span>must be uniq</span></td>
              </div>
            </div>
            <div>
              <label for="descript">service name</label>
              <div>
                <td><input id="descript" type="text" name='descript' value="{{ vipinstance.descript }}"></td>
              </div>
            </div>
            <div>
              <label for="owners">person in charge</label>
              <div>
                <td><input id="owners" type="text" name='owners' value="{{ vipinstance.owners }}"></td>
              </div>
            </div>
            <div>
              <label for="mailto">mail list warning</label>
              <div>
                <td><input style="width: 310px;" id="mailto" type="text" name='mailto' value="{{ vipinstance.mailto }}"><span>mail list split by comma</span></td>
              </div>
            </div>
            <div>
              <label for="vip_group">VIP group</label>
              <div>
                <td><input style="width: 310px;" id="vip_group" type="text" name='vip' value="{{ vipinstance.vip_group }}"><span>1.1.1.1:80,2.2.2.2:80</span></td>
              </div>
            </div>
            <div>
              <label for="protocol">protocol</label>
              <div>
                <select id="protocol" name='protocol'>
                    <option value='{{ vipinstance.protocol }}'>{{ vipinstance.protocol }}</option>
                    <option value='TCP'>TCP</option>
                    <option value='UDP'>UDP</option>
                </select>
              </div>
            </div>
            <div>
              <label for="delay_loop">monitor interval</label>
              <div>
                <td><input style="width: 40px;" id="delay_loop" type="text" name='delay_loop' value="{{ vipinstance.delay_loop }}"></td>
              </div>
            </div>
            <div>
              <label for="lb_algo">balance method</label>
              <div>
                <select id="lb_algo" name='lb_algo'>
                    <option value='{{ vipinstance.lb_algo }}'>{{ vipinstance.lb_algo }}</option>
                    <option value='wrr'>wrr</option>
                    <option value='rr'>rr</option>
                    <option value='lc'>lc</option>
                    <option value='wlc'>wlc</option>
                    <option value='lblc'>lblc</option>
                    <option value='sh'>sh</option>
                    <option value='dh'>dh</option>
                </select>
              </div>
            </div>
            <div>
              <label for="lb_kind">lvs type</label>
              <div>
                <select id="lb_kind" name='lb_kind'>
                    <option value='{{ vipinstance.lb_kind }}'>{{ vipinstance.lb_kind }}</option>
                    <option value='FNAT'>FNAT</option>
                    <option value='DR'>DR</option>
                    <option value='NAT'>NAT</option>
                    <option value='TUN'>TUN</option>
                </select>
              </div>
            </div>
            <div>
              <label for="persistence_timeout">persistence timeout</label>
              <div>
                <td><input style="width: 40px;" id="persistence_timeout" type="text" name='persistence_timeout' placeholder="persistence timeout" value='{{ vipinstance.persistence_timeout }}' ></td>
              </div>
            </div>
            <div>
              <label for="sync_proxy">syn flood defence</label>
              <div>
                <td><input id="sync_proxy" name='sync_proxy' type='checkbox' value='True' {% if vipinstance.sync_proxy %}checked="true"{% endif %}></td>
              </div>
            </div>
            <div>
              <label for="alpha">alpha</label>
              <div>
                <td><input id="alpha" name='alpha' type='checkbox' value='True' {% if vipinstance.alpha %}checked="true"{% endif %}><span>是否开启alpha模式,启动时默认rs是down状态，健康检查通过后才添加到lvs pool</span></td>
              </div>
            </div>
            <div>
              <label for="omega">omega</label>
              <div>
                <td><input id="omega" name='omega' type='checkbox' value='True' {% if vipinstance.omega %}checked="true"{% endif %}><span>是否开启omega模式，清楚rs时会执行相应的脚本(quorum_up)</span></td>
              </div>
            </div>
            <div>
              <label for="quorum">quorum</label>
              <div>
                <td><input style="width: 40px;" id="quorum" type="text" name='quorum' value='{{ vipinstance.quorum }}' ><span>service limit</span></td>
              </div>
            </div>
            <div>
              <label for="hysteresis">hysteresis</label>
              <div>
                <td><input style="width: 40px;" id="hysteresis" type="text" name='hysteresis' value='{{ vipinstance.hysteresis }}'><span>delay factor</span></td>
              </div>
            </div>
        </form>
        </br>
        <h4>RealServer组</h4>
        <hr>
        <button id="rs_add"><span></span>add real server</button>
        <table>
              <thead>
                <tr>
                  <th style="width: 10%">server manage IP</th>
                  <th style="width: 10%">service IP</th>
                  <th style="width: 10%">weight</th>
                  <th style="width: 40%">port list</th>
                  <th style="width: 10%">monitor</th>
                  <th>operation</th>
                </tr>
              </thead>
              <tbody id='rs_talbe_body'>
              {% for rs in vipinstance.rs %}
              <tr>
                <td>{{ rs.manager_ip }}</td>
                <td>{{ rs.server_ip }}</td>
                <td>{{ rs.weight }}</td>
                <td>{{ rs.port }}</td>
                <td>{{ rs.monitor.type }}</td>
              </tr>
              {% endfor %}
              </tbody>
        </table>
        <hr>
        <button style="position: relative;left: 770px;" id="lvs_deploy_add_submit" ><span></span>save</button>
        <a href="/lvsmanager_deploy/?id={{ vipinstance.cluster_id }}" style="position: relative;left: 770px;"><span></span>back</a>
    </div>
  </div>


  <!--dialog edit rs -->
</div>
{% endblock %}
