{% extends "index.html" %}
{% block body %}
<div>
  <div>
    <div>
        <ul class="nav nav-tabs">
          <li><a href="/lvsmanager/">Lvs Cluster Manager</a> <span></span></li>
          <li class="active"><a href="#">Vip Instance Configuration</a> <span></span></li>
          <li class="disabled"><a>Edit Vip Instance</a></li>
        </ul>
    </div>
  </div>
        <div>
            <h4>cluster_id:{{ cluster }}</h4>
            <hr>
            <a href="/lvsmanager_deploy_add/?id={{ cluster }}" class="btn btn-success"><span></span>Add New Vip Instance</a>
        </div>
        </br>

        <div>
        <!--{{ vipinstanceinfo }}-->
        {% if vipinstanceinfo %}
            <table id="lvsmanager_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 14%">Vip Instance(name)</th>
                  <th style="width: 8%">Service</th>
                  <th style="width: 8%">Owner</th>
                  <th style="width: 10%">Vip Group</th>
                  <th style="width: 10%">Protocol</th>
                  <th style="width: 10%">Lb_Method</th>
                  <th style="width: 40%">Operation</th>
                </tr>
              </thead>
              <tbody id='publish_table_body'>
                  {% for vipinstance in vipinstanceinfo %}
                    <tr {% if vipinstance.status == "offline" %}style="background-color: orange;"{% endif %}>
                      <td>{{ vipinstance.vip_instance }}</td>
                      <td>{{ vipinstance.descript }}</td>
                      <td>{{ vipinstance.owners }}</td>
                      <td>{% for vip in vipinstance.vip_group %}
                      {{ vip.vip }}:{{ vip.port }}{% endfor %}</td>
                      <td>{{ vipinstance.protocol }}</td>
                      <td>{{ vipinstance.lb_algo }}</td>
                      <td><a href="/lvsmanager_deploy_edit/?id={{ vipinstance._id }}" class='btn btn-sm btn-success'><span></span>Edit</a>{% if vipinstance.status == "offline"%}<a href="javascript:;" onClick="javascript:online_vip_instance('{{ vipinstance._id }}','{{ vipinstance.vip_instance }}')" class='btn btn-sm btn-info'><span></span>Online</a>{% else %}<a href="javascript:;" onClick="javascript:offline_vip_instance('{{ vipinstance._id }}','{{ vipinstance.vip_instance }}')" class='btn btn-sm btn-warning'><span></span>Offline</a>{% endif %}<a href="javasrcipt:;" onClick="javascript:remove_vip_instance('{{ vipinstance._id }}','{{ vipinstance.vip_instance }}')" class='btn btn-sm btn-danger'><span></span>Delete</a></td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
        {% else %}
            <p>the vip instance not exist</p>
        {% endif %}
        </div>
</div>        
<script type="text/javascript">
function offline_vip_instance(vip_instance_id,vip_instance){
    bootbox.confirm("r u sure to offline the instance " + vip_instance, function(result){
        if(result){
            var _post_data = JSON.stringify({"id" : vip_instance_id })
            $.ajax({
                type: 'POST', 
                url: '/lvsmanager_deploy_offline/',
                data: _post_data,
                cache: false,
                success: function(data){
                   window.location.href="/lvsmanager_deploy/?id={{ cluster }}" 
                },
            });
        }
    })
}

function online_vip_instance(vip_instance_id,vip_instance){
    bootbox.confirm("r u sure to online the instance " + vip_instance, function(result){
        if(result){
            var _post_data = JSON.stringify({"id" : vip_instance_id })
            $.ajax({
                type: 'POST', 
                url: '/lvsmanager_deploy_online/',
                data: _post_data,
                cache: false,
                success: function(data){
                   window.location.href="/lvsmanager_deploy/?id={{ cluster }}" 
                },
            });
        }
    })
}

function remove_vip_instance(vip_instance_id,vip_instance){
    bootbox.confirm("r u sure to delete the instance " + vip_instance, function(result){
        if(result){
            var _post_data = JSON.stringify({"id" : vip_instance_id })
            $.ajax({
                type: 'POST', 
                url: '/lvsmanager_deploy_delete/',
                data: _post_data,
                cache: false,
                success: function(data){
                   window.location.href="/lvsmanager_deploy/?id={{ cluster }}" 
                },
            });
        }
    })
}
</script>
{% endblock %}





























