{% extends "index.html" %}
{% block body %}
{% if current_user is user_is_manager %} 
<table id="lvsmanager_table">
{% for cluster in cluster_list %}
<tr>
    <td>{{ cluster.id }}</td>
    <!-- <td>{{ cluster.descript }}</td> -->
    <td>{{ cluster.area }}</td>
    <td>{% for lb in cluster.lb %}
        {{ lb.id }}:{{ lb.ipadd }}:{{ lb.port }}{% endfor %}</td>
    <td><a href="/lvsmanager_deploy/?id={{ cluster.id }}"><span></span></span>configuration</a></td>
    <td><a href="/lvsmanager_deploy_add/?id={{ cluster.id }}" ><span></span>new vip instance</a></td>
</tr>
{% endfor %}
{% endif %}
{% endblock %}
