{% extends "index.html" %}
{% block body %}
  <div>
    <div>
        <ul class="nav nav-tabs">
          <li><a href="/lvsmanager/">Lvs Cluster Manager</a> <span></span></li>
          <li class="active"><a href="/lvsmanager_deploy/?id={{ cluster }}">Vip Instance Configuration</a> <span></span></li>
          <li class="disabled"><a>Edit Vip Instance</a></li>
        </ul>
    </div>
  </div>
  <div>
    <div id='lvsmanager_deploy_add_body' class='col-md-12'>
        <h4>Vip Instance Configuration(Add New Vip Instance)</h4>
        <hr>
        <form class="form-horizontal">
            <div class="form-group">
              <label for="vipinstance" class="col-sm-2 control-label">Vip Instance Name</label>
              <div class="col-sm-10">
                <td class="help-block"><input id="vip_instance" class="lvs_manager_deploy_add_vip_input" type="text" name='vip_instance' check-type="required"><span>Vip Instance must be uniq</span></td>
              </div>
            </div>
            <div class="form-group">
              <label for="descript" class="col-sm-2 control-label">Service Name</label>
              <div class="col-sm-10">
                <td><input id="descript" class="lvs_manager_deploy_add_vip_input" type="text" name='descript' placeholder="service name"></td>
              </div>
            </div>
            <div class="form-group">
              <label for="owners" class="col-sm-2 control-label">Person In Charge</label>
              <div class="col-sm-10">
                <td><input id="owners" class="lvs_manager_deploy_add_vip_input" type="text" name='owners' placeholder="person in charge"></td>
              </div>
            </div>
            <div class="form-group">
              <label for="mailto" class="col-sm-2 control-label">Mail List Warning</label>
              <div class="col-sm-10">
                <td><input style="width: 310px;" id="mailto" class="lvs_manager_deploy_add_vip_input" type="text" name='mailto' placeholder="splite(',')"><span>mail list split by comma</span></td>
              </div>
            </div>
            <div class="form-group">
              <label for="vip_group" class="col-sm-2 control-label">Vip Group</label>
              <div class="col-sm-10">
                <td><input style="width: 310px;" id="vip_group" class="lvs_manager_deploy_add_vip_input" type="text" name='vip' placeholder="vip group address(split by comma)"><span>1.1.1.1:80,2.2.2.2:80</span></td>
              </div>
            </div>
            <div class="form-group">
              <label for="protocol" class="col-sm-2 control-label">Protocol</label>
              <div class="col-sm-10">
                <select id="protocol" class="lvs_manager_deploy_add_vip_input" name='protocol'>
                    <option value='TCP'>TCP</option>
                    <option value='UDP'>UDP</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="delay_loop" class="col-sm-2 control-label">Monitor Interval</label>
              <div class="col-sm-10">
                <td><input style="width: 40px;" id="delay_loop" class="lvs_manager_deploy_add_vip_input" type="text" name='delay_loop' placeholder="interval" value="6"></td>
              </div>
            </div>
            <div class="form-group">
              <label for="lb_algo" class="col-sm-2 control-label">Balance Method</label>
              <div class="col-sm-10">
                <select id="lb_algo" class="lvs_manager_deploy_add_vip_input" name='lb_algo'>
                    <option value='wrr'>wrr</option>
                    <option value='rr'>rr</option>
                    <option value='lc'>lc</option>
                    <option value='wlc'>wlc</option>
                    <option value='lblc'>lblc</option>
                    <option value='sh'>sh</option>
                    <option value='dh'>dh</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="lb_kind" class="col-sm-2 control-label">Lvs Type</label>
              <div class="col-sm-10">
                <select id="lb_kind" class="lvs_manager_deploy_add_vip_input" name='lb_kind'>
                    <option value='FNAT'>FNAT</option>
                    <option value='DR'>DR</option>
                    <option value='NAT'>NAT</option>
                    <option value='TUN'>TUN</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="persistence_timeout" class="col-sm-2 control-label">Persistence Timeout</label>
              <div class="col-sm-10">
                <td><input style="width: 40px;" id="persistence_timeout" class="lvs_manager_deploy_add_vip_input" type="text" name='persistence_timeout' placeholder="persistence timeout" value='0' ></td>
              </div>
            </div>
            <div class="form-group">
              <label for="sync_proxy" class="col-sm-2 control-label">Syn Flood Defence</label>
              <div class="col-sm-10">
                <td><input id="sync_proxy" class="lvs_manager_deploy_add_vip_checkbox" name='sync_proxy' type='checkbox' value='True' checked="true"></td>
              </div>
            </div>
            <div class="form-group">
              <label for="alpha" class="col-sm-2 control-label">Alpha</label>
              <div class="col-sm-10">
                <td><input id="alpha" class="lvs_manager_deploy_add_vip_checkbox" name='alpha' type='checkbox' value='True' checked="true"><span>if quorum is set the activing monitor pass it will run the quoruo script to add the vip</span></td>
              </div>
            </div>
            <div class="form-group">
              <label for="omega" class="col-sm-2 control-label">Omega</label>
              <div class="col-sm-10">
                <td><input id="omega" class="lvs_manager_deploy_add_vip_checkbox" name='omega' type='checkbox' value='True' checked="true"><span>if omega is set,it will run the quorum down script to remove the vip</span></td>
              </div>
            </div>
            <div class="form-group">
              <label for="quorum" class="col-sm-2 control-label">Quorum</label>
              <div class="col-sm-10">
                <td><input style="width: 40px;" id="quorum" class="lvs_manager_deploy_add_vip_input" type="text" name='quorum' value='1' ><span>weight vip need to be bind</span></td>
              </div>
            </div>
            <div class="form-group">
              <label for="hysteresis" class="col-sm-2 control-label">Hysteresis</label>
              <div class="col-sm-10">
                <td><input style="width: 40px;" id="hysteresis" class="lvs_manager_deploy_add_vip_input" type="text" name='hysteresis' value='0'><span>sum=quorum+hysteresis</span></td>
              </div>
            </div>
        </form>
        </br>
        <h4>Real Server Group</h4>
        <hr>
        <button id="rs_add" class="btn btn-success" style="position: relative;left: 20px;"><span></span>Add Real Server</button>
        <hr>
        <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 15%">Server Manage IP</th>
                  <th style="width: 10%">Service IP</th>
                  <th style="width: 10%">Weight</th>
                  <th style="width: 40%">Port List</th>
                  <th style="width: 10%">Monitor</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody id='rs_table_body'>
              </tbody>
        </table>
        <hr>
        <button style="position: relative;left: 20px;" id="lvs_deploy_add_submit" class="btn btn-danger"><span></span>Submit</button>
        <a href="/lvsmanager_deploy/?id={{ cluster }}" style="position: relative;left: 20px;" class="btn btn-primary"><span></span>Back</a>
    </div>
  </div>



<div id="dialog-form" title="Add Real Server">
  <form>
  <fieldset>
    <div class="control-group">
      <label for="manager_ip" class="control-label">Manage IP</label>
       <div class="controls">
        <td><input id="manager_ip" type="text" name='manager_ip'><span>IP for login</span></td>
      </div>
    </div>
    <div class="control-group">
      <label for="server_ip" class="control-label">Service Ip</label>
      <div class="controls">
        <td><input id="server_ip" type="text" name='server_ip'><span>IP for service</span></td>
      </div>
    </div>
    <div class="control-group">
      <label for="weight" class="control-label">Weight</label>
      <div class="controls">
        <td><input id="weight" type="text" name='weight'><span>real server weight</span></td>
      </div>
    </div>
    <div class="control-group">
      <label for="rs_port" class="control-label">Port List</label>
      <div class="controls">
        <td><input id="rs_port" type="text" name='rs_port'><span>port list split(',')</span></td>
      </div>
    </div>
    <div class="control-group">
      <label for="monitor_type" class="control-label">Monitor Type</label>
      <div class="controls">
        <select id="monitor_type" name='monitor_type'>
            <option value='HTTP_GET'>HTTP_GET</option>
            <option value='TCP_CHECK'>TCP_CHECK</option>
            <option value='MISC_CHECK'>MISC_CHECK</option>
        </select>
      </div>
    </div>
    <div id="monitor_method">
        <div class="control-group">
          <label for="path" class="control-label">Path</label>
          <div class="controls">
            <td><input class="monitor_method_input" id="path" type="text" name='path'></td>
          </div>
        </div>
        <div class="control-group">
          <label for="digest" class="control-label">Digest</label>
          <div class="controls">
            <td><input class="monitor_method_input" id="digest" type="text" name='digest'></td>
          </div>
        </div>
        <div class="control-group">
          <label for="connect_timeout" class="control-label">Connection_timeout</label>
          <div class="controls">
            <td><input class="monitor_method_input" id="connect_timeout" type="text" name='connect_timeout'></td>
          </div>
        </div>
        <div class="control-group">
          <label for="nb_get_retry" class="control-label">Retry Connection</label>
          <div class="controls">
            <td><input class="monitor_method_input" id="nb_get_retry" type="text" name='nb_get_retry'></td>
          </div>
        </div>
        <div class="control-group">
          <label for="delay_before_retry" class="control-label">Internal</label>
          <div class="controls">
            <td><input class="monitor_method_input" id="delay_before_retry" type="text" name='delay_before_retry'></td>
          </div>
        </div>
    </div>
  </fieldset>
  </form>
</div>

</div>

<script type="text/javascript">
    console.log("{{ cluster }}")
    var rs_list = []
    $("#rs_add").click(function(){
        $("#dialog-form").dialog("open");
    })
    
    $("#dialog-form").dialog({
        autoOpen: false,
        height: 600,
        width: 400,
        modal: true,
        buttons: {
            "save": function(){
                monitor_new = new Object;
                monitor = new Object;
                monitor_new['manager_ip'] = $("#manager_ip").val();
                monitor_new['server_ip'] = $("#server_ip").val();
                monitor_new['port'] = $("#rs_port").val();
                monitor_new['weight'] = $("#weight").val();
                monitor['type'] = $("#monitor_type").val();
                
                $(".monitor_method_input").each(function(){
                    var key = $(this).attr('id');
                    var value = $(this).val();
                    monitor[key] = value;
                })
                
                monitor_new['monitor'] = monitor;

                rs_list.push(monitor_new)
                rs_table();
                console.log(rs_list)
                $(this).dialog("close");
            },
            "cancel": function(){
                $(this).dialog("close");
            },
        },   
        
        close: function(){},
        open: function (event, ui){
            $(".ui-dialog-titlebar-close", $(this).parent()).hide();
        },

    });

    //onselect monitor_type
    $("#monitor_type").change(function(){
        var monitor_type = $("#monitor_type").val();
        if (monitor_type == 'TCP_CHECK'){
            inputlist = {"connect_timeout":"Connection timeout"};
        }
        else if (monitor_type == 'HTTP_GET'){
            inputlist = {"path":"Path","digest":"Digest","connect_timeout":"Monitor time out","nb_get_retry":"Times","delay_before_retry":"Interval"};
        }
        else {
            inputlist = {"misc_path":"Eav Script","misc_timeout":"Eav Time Out"};
        }
        _html = format_monitor_method_input(inputlist)
        $("#monitor_method").html(_html);
    });

    function format_monitor_method_input(input_list){
        var html = ''
        for (i in input_list){
            html += '<div class="control-group"><label class="control-label" for="' + i + '">' + 
                input_list[i] + '</label> <div class="controls">' +
                '<td><input class="monitor_method_input" id="' + i + '" type="text" name="' + 
                    i + '"></td></div></div>'
        }
        return html
    }

    function rs_table(){
        var html = ''
        
        if (rs_list.length == 0){
            $("#rs_table_body").html(html)
        }
        else {
            for (rs in rs_list){
                _rs = rs_list[rs]
                html += '<tr><td>' + _rs['manager_ip'] + '</td><td>' + _rs['server_ip'] + '</td><td>' +
                        _rs['weight'] + '</td><td>' + _rs['port'] + '</td><td>' +_rs['monitor']['type'] + '</td><td><a href="javascript:rs_remove(' + rs + ')" class="btn btn-danger"><span></span>Delete</a></td></tr>'
                $("#rs_table_body").html(html)
            }
        }
    }

    function rs_remove(rs){
        _rs = rs_list[rs]
        rs_list.splice($.inArray(_rs, rs_list), 1);
        rs_table();
    }

//submit add json
    $("#lvs_deploy_add_submit").click(function(){
        var _rs_list = []
        post_data = new Object();
        post_data['cluster_id'] = "{{ cluster }}"
        $(".lvs_manager_deploy_add_vip_input").each(function(){
            var key = $(this).attr('id');
            var value = $(this).val();
            post_data[key] = value;
        })

        $(".lvs_manager_deploy_add_vip_checkbox").each(function(){
            var key = $(this).attr('id');
            var value = $(this).prop('checked');
            console.log(value)
            if (value == true){
                var _value = true;
            } else {
                var _value = false;
            }
            post_data[key] = _value;
        })

        for(rs in rs_list){
            if (rs_list[rs]){
                _rs_list.push(rs_list[rs]);
            }
        }
        
        post_data['rs'] = _rs_list;
        //tojson
        var _post_data = JSON.stringify(post_data);
        var load = new Loading();
        $.ajax({
            type: 'POST',
            url: '/lvsmanager_deploy_add/',
            data: _post_data,
            cache: false,
            beforeSend: function() { 
                load.init();
                load.start();
            },
            success: function(data){
                setTimeout(function(){
                    load.stop();
                    window.location.href = "/lvsmanager_deploy/?id={{ cluster }}"
                    //console.log(data);
                },3000);
            },
            error: function(XMLHttpRequest){
                load.stop();
                alert("post_fail" + XMLHttpRequest)
            },
        });
         
    })	











</script>





{% endblock %}
